body {
	background-image: url(background.png);
	background-size: cover;
	padding: 100px;
}

#game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.title {
	color: #fff;
	margin: auto;
}

#top-wrapper {
	display: flex;
	flex-direction: row;
	gap: 200px;
}

#mazzo-wrapper {
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.card {
	width: 100px;
	height: 140px;
}

#table-cards-wrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/* bottom */

#bottom-wrapper {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

.player-wrapper,
#mazzo-wrapper,
#table-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
